.select {
  width: 205px;
  height: 40px;
  border-radius: 4px;
}
.hr-personal {
  border: 0;
  /* border-top: 5px; */
  height: 5px;
  width: 40px;
  /* margin-right: 380px; */
  margin-left: 0px;
}
.form-info {
  margin-top: 70px;
}
.hr-center {
  border: 0;
  /* border-top: 5px; */
  height: 5px;
  width: 40px;
  margin-left: 239px;
  margin-top: 6px;
}
.div_personal {
  margin-top: -18px;
}
.div-error {
  display: flex;
}
.error-msg {
  font-size: 10px;
  /* margin-top: 1px; */
  color: red;
  font-weight: 400;
  /* margin-left: 2px; */
}
.div-error-contact {
  margin-top: -9px;
  margin-left: 3px;
}
@media screen and (max-width: 760px) {
  .inside_div_personal {
    margin-top: -15px;
  }
}
