
.margin-pan{
    margin-top: 20px !important;
}
.div-PanEmail{
    margin-top: 90px;
}
.button-pan{
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .margin-pan{
        margin-top: 25px !important;
    }
    .div-PanEmail{
        margin-top: 0px;
    }
  }