.margin-pan {
  margin-top: 20px !important;
}
.div-PanEmail {
  margin-top: 90px;
}
.button-pan {
  text-align: center;
}
.modal_open {
  margin-left: 162px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: -9px;
  /* float: right; */
}
.close {
  cursor: pointer;
}
.error-email {
  font-size: 12px;
  color: red;
  margin-left: 10px;
}
.pan-error {
  font-size: 12px;
  color: black;
  margin-left: 10px;
}
.btn-searchIFSC {
  height: 40px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #6a4eee, #6a4eee);
  color: white;
  border: none;
  /* margin-left: 16px !important; */
  /* width: 224px; */
}
.search-list {
  /* width: 224px; */
  /* margin-left: 16px; */
}
.abc > .MuiMonthPicker-root {
  background-color: white;
}
.email-error-msg {
  color: red;
  font-size: 10px;
  font-family: 400;
}
.Name-Pan-msg {
  color: black;
  font-size: 10px;
  font-family: 400;
}
.email-error-div {
  margin-left: 10px;
  margin-top: -10px;
}
@media only screen and (max-width: 600px) {
  .margin-pan {
    margin-top: 25px !important;
  }
  .div-PanEmail {
    margin-top: 0px;
  }
}
.txt-msg {
  /* border: 2px solid black; */
  font-size: 9px;
  color: rgb(76, 70, 70);
  margin-bottom: 3px;
  margin-top: -5px;
}
.css-1ozefeb
  > .MuiPaper-root
  > .css-1xhj18k
  > .css-epd502
  > .MuiCalendarPicker-root
  > .css-1dozdou
  + .PrivatePickersFadeTransitionGroup-root
  > div
  > div
  > .MuiTypography-root {
  border: none;
  background-color: white;
}
.css-1ozefeb
  > .MuiPaper-root
  > .css-1xhj18k
  > .css-epd502
  > .MuiCalendarPicker-root
  > .css-1dozdou
  + .PrivatePickersFadeTransitionGroup-root
  > div
  > div
  > .MuiTypography-root:hover {
  background: lightgray;
  border-radius: 10px;
}
/* > .PrivatePickersFadeTransitionGroup-root
> .css-1v994a0
> .MuiIconButton-root
> .MuiSvgIcon-root
> .MuiTouchRipple-root
> .css-k008qs
> .MuiButtonBase-root
> .css-18puooo
> .MuiButtonBase-root
> .MuiSvgIcon-root
> .MuiTouchRipple-root
> .PrivatePickersFadeTransitionGroup-root
> .MuiMonthPicker-root
> .MuiTypography-root */
