.App {
  /* text-align: center; */
  font-family: sans-serif;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.btn-otp {
  width: 121px;
}
.text-error {
  font-size: 14px;
  text-align: center;
  color: red;
}
.color-gradiant {
  background-image: linear-gradient(to right, #6a4eee, #6a4eee);
}
.text-white {
  color: white !important;
}
.text-purple {
  color: #6344f2;
}
.btn-radius {
  border-radius: 10px;
}
.btn-comman {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #6a4eee, #6a4eee);
  color: white;
  border: none;
}
.btn-comman-small {
  width: 117px;
  height: 40px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #6a4eee, #6a4eee);
  color: white;
  border: none;
}
.link-comman {
  text-decoration: underline;
  color: #7f00ff;
  cursor: pointer;
}
.div-center {
  text-align: center;
  align-items: center;
}
.index {
  z-index: -1 !important;
}
